# Build and Object Folders
bin/
obj/

#User Specific Files
*.user
*.suo

#Resource Caches
_ReSharper.*
*.sln.cache

# Database files
*.db

# from http://gembundler.com/deploying.html
.bundle

# Ignore secret key
.dbsecret