= haml(:_signin, :layout => false)

%h1.span12
  %img(class="modal-h-img sprite s_upload_32 modal-h-img" src="img/icon_spacer.gif")
  Change settings for #{@user.display_name}'s dbinbox

%div{style: "margin-left: 20px; margin-bottom: 2em;"}
  %p
    If you are the owner of this Dropbox, you can change the
    access code needed to upload files.
  %p
    Submitting this form will also relink dbinbox to your Dropbox account if it
    has been accidentally unlinked from your Dropbox settings.
  %p
    When saving settings, you will be sent to Dropbox to
    verify you own the account. Click "Allow" to allow this
    change.

%form.form-horizontal.span12{action: "/admin", id: 'admin_form', method: 'post'}
  .control-group
    %label.control-label(for="access_code") New Access Code
    .controls
      %input{:type => "text", :name => "access_code", :id => "access_code"}
  .control-group
    %label.control-label(for="clear_access_code") Clear Access Code
    .controls
      %input(type="checkbox" name="clear_access_code" id="clear_access_code")
  %input.btn.btn-primary(type="submit" value="set code" style="float: right")

%h1.span12
  %img(class="modal-h-img sprite s_application_delete_32 modal-h-img" src="img/icon_spacer.gif")
  Delete #{@user.display_name}'s dbinbox account

%div{style: "margin-left: 20px; margin-bottom: 2em;"}
  %p
    Pressing the button below will unlink dbinbox from your Dropbox account.
  %p
    The URL <code>#{url(@user.username)}</code> will be available for anyone to register
    with his or her Dropbox account.

%form.form-horizontal.span12{action: "/delete", id: 'unlink_form', method: 'post'}
  .control-group
    %label.control-label(for="delete_confirmation") Type "DELETE"
    .controls
      %input(type="text" name="delete_confirmation" id="delete_confirmation" onkeyup="if($(this).val()=='DELETE'){$('#delete_button').removeAttr('disabled').removeClass('disabled');}")
        %input#delete_button.btn.btn-danger.disabled(type="submit" value="Delete account" style="float: right" disabled="disabled")

.clearfix
