-# the visitor must enter the correct access code
-# before uploading files

%form.form-horizontal.span12{action: "", method: "GET"}
  %p
    Enter the correct code to upload files.
  .control-group
    %label.control-label(for="password") Access Code
    .controls
      %input(type="text" name="password" id="password")
  %button.btn.btn-primary{type: "submit", style: "float: right; margin-right: 10px;"}
    Submit
  %span.btn#show_admin_form{style: "float: right; margin-right: 10px; display: none"}
    %i.icon-wrench.icon-black
    %span Admin

.clearfix