%h1 
  <a href="/"><img src="/img/logo_small.png" style="height:2em" /></a>
  dbinbox
  %small an inbox for your Dropbox

-if !session[:registered] # if the user isn't registered
  %form.form-inline{action: "/", method: "post"}
    %fieldset.control-group{class: @error.nil? || @error.empty? ? "" : "error"}
      .input-prepend
        %span.add-on dbinbox.com/
        %input.span4#username(placeholder="your_username_here" name="username" type="text" value="#{params['username']}")
      %button.btn.btn-success(type='submit' title="links with Dropbox") link with Dropbox
      %span.help-inline=@error

      %img(src="/img/dbinbox.gif" alt="dbinbox demo" style="box-shadow: 0px 10px 50px #888888; margin-top: 1em")
-else
  %p{style: "color: green"} You're registered!
  %p
    -url = url('/') + session[:username] if session[:username]
    %a{href: url}=url

.row
  .span8
    %p
      By visiting 
      -if url
        %a{href: url}your personal dbinbox url,
      -else
        your personal dbinbox,
      non-Dropbox users will be able to upload files straight into a special 'inbox' folder in your Dropbox.
    %p This is also quite handy if you need to send yourself a file from someone else's computer but don't want to log into email or remember a tinyurl.
    %p Public dbinboxes can be optionally passphrase protected.

%a(href="https://github.com/christiangenco/dbinbox")
  %img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/camo.github.com/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub")
