<!DOCTYPE html>
%html
  %head
    %title Dropbox Dropbox
    %link(rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css")
    %link(rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-responsive.min.css")
    /[if lt IE 7]
      %link(rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css")
    %link(rel="stylesheet" href="css/jquery.fileupload-ui.css")
    %link(rel="stylesheet" href="css/style.css")
  %body
    .container
      =yield
    %script(src="js/jquery.min.js")
    %script(src="js/vendor/jquery.ui.widget.js")
    %script(src="js/jquery.iframe-transport.js")
    %script(src="js/jquery.fileupload.js")
    %script(src="js/jquery.fileupload-fp.js")
    %script(src="js/jquery.fileupload-ui.js")
    / The Templates plugin is included to render the upload/download listings
    %script(src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js")
    / %script(src="js/bootstrap-tooltip.js")
    %script(src="js/app.js")