<!DOCTYPE html>
%html
  %head
    %title dbinbox
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %meta(name="viewport" content="width=device-width")
    %meta(property="og:title" content="dbinbox: an inbox for your Dropbox")
    %meta(property="og:description" content="By visiting your personal dbinbox, non-Dropbox users will be able to upload files straight into a special 'inbox' folder in your Dropbox.")
    %meta(property="og:url" content="http://dbinbox.com/")
    %meta(property="og:image" content="http://dbinbox.com/img/logo.png")
    %link{rel: "stylesheet", href: url("/css/bootstrap.min.css")}
    %link{rel: "stylesheet", href: url("/css/bootstrap-responsive.min.css")}
    /[if lt IE 7]
      %link{rel: "stylesheet", href: "http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"}
    %link{rel: "stylesheet", href: url("/css/jquery.fileupload-ui.css")}
    %link{rel: "stylesheet", href: url("/css/style.css")}
  %body
    .container
      =yield

      %hr
      .row
        .span4
          .row
            .span1
              %a(href="http://textbooksplease.com/?ref=dbil")
                %img(src="http://textbooksplease.com/images/logo.png")
            %p.span3 If you like this, try out my other website <a href="http://textbooksplease.com/?ref=dbiu">textbooksplease.com</a> to compare prices on textbooks (or regular books) on 40+ websites in a single click. You'll save a bundle!
            %a(href="http://textbooksplease.com/?ref=dbim")
              %img.span4(src="http://textbooksplease.com/images/book_money_pile.jpg")
        %p.span4
          Found a bug? This software is open source! Please let me know on
          %a(href="https://github.com/christiangenco/dbinbox") this project's github page
          or <a href="http://twitter.com/cgenco">@cgenco</a>
          and I'll try to fix it! :)
        .span4
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="82PK78BTMTGRA">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
          <a class="coinbase-button" data-code="075230a3ad826102947729a5c934467e" data-button-style="custom_small" href="https://coinbase.com/checkouts/075230a3ad826102947729a5c934467e">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

    %script{src: url("/js/jquery.min.js")}
    %script{src: url("/js/vendor/jquery.ui.widget.js")}
    %script{src: url("/js/jquery.iframe-transport.js")}
    %script{src: url("/js/jquery.fileupload.js")}
    %script{src: url("/js/jquery.fileupload-fp.js")}
    %script{src: url("/js/jquery.fileupload-ui.js")}
    %script{src: url("/js/app.js")}
    / google analysics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34331519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
