<!DOCTYPE html>
%html
  %head
    %title dbinbox
    %link(rel="stylesheet" href="css/bootstrap.min.css")
    %link(rel="stylesheet" href="css/bootstrap-responsive.min.css")
    /[if lt IE 7]
      %link(rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css")
    %link(rel="stylesheet" href="css/jquery.fileupload-ui.css")
    %link(rel="stylesheet" href="css/style.css")
  %body
    .container
      =yield
    %script(src="js/jquery.min.js")
    %script(src="js/vendor/jquery.ui.widget.js")
    %script(src="js/jquery.iframe-transport.js")
    %script(src="js/jquery.fileupload.js")
    %script(src="js/jquery.fileupload-fp.js")
    %script(src="js/jquery.fileupload-ui.js")
    / The Templates plugin is included to render the upload/download listings
    %script(src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js")
    / %script(src="js/bootstrap-tooltip.js")
    %script(src="js/app.js")
    / google analysics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34331519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
