<!DOCTYPE html>
%html
  %head
    %title dbinbox
    %link{rel: "stylesheet", href: url("/css/bootstrap.min.css")}
    %link{rel: "stylesheet", href: url("/css/bootstrap-responsive.min.css")}
    /[if lt IE 7]
      %link{rel: "stylesheet", href: "http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"}
    %link{rel: "stylesheet", href: url("/css/jquery.fileupload-ui.css")}
    %link{rel: "stylesheet", href: url("/css/style.css")}
  %body
    .container
      .span4.offset8{style: "text-align: right;"}
        - if session[:registered]
          = session[:username]
          %a{href: url("/#{@user.username}/admin")} settings
          |
          %a{href: url("/logout")} sign out
        - else
          %a{href: url("/login")} sign in
          |
          %a{href: url("/")} sign up
          with Dropbox
      =yield

      %hr

      %p.span8
        Found a bug? This software is open source! Please let me know on
        %a(href="https://github.com/christiangenco/dbinbox") this project's github page
        and I'll try to fix it! :)

    %script{src: url("/js/jquery.min.js")}
    %script{src: url("/js/vendor/jquery.ui.widget.js")}
    %script{src: url("/js/jquery.iframe-transport.js")}
    %script{src: url("/js/jquery.fileupload.js")}
    %script{src: url("/js/jquery.fileupload-fp.js")}
    %script{src: url("/js/jquery.fileupload-ui.js")}
    / The Templates plugin is included to render the upload/download listings
    %script{src: "http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"}
    / %script(src="js/bootstrap-tooltip.js")
    %script{src: url("/js/app.js")}
    / google analysics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34331519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
