<!DOCTYPE html>
%html
  %head
    %title dbinbox
    %link{rel: "stylesheet", href: url("/css/bootstrap.min.css")}
    %link{rel: "stylesheet", href: url("/css/bootstrap-responsive.min.css")}
    /[if lt IE 7]
      %link{rel: "stylesheet", href: "http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"}
    %link{rel: "stylesheet", href: url("/css/jquery.fileupload-ui.css")}
    %link{rel: "stylesheet", href: url("/css/style.css")}
  %body
    .container
      =yield

      %hr
      .row
        .span4
          .row
            .span1
              %a(href="http://textbooksplease.com/?ref=dbil")
                %img(src="http://textbooksplease.com/images/logo.png")
            %p.span3 If you like this, try out my other website <a href="http://textbooksplease.com/?ref=dbiu">textbooksplease.com</a> to compare prices on textbooks (or regular books) on 40+ websites in a single click. You'll save a bundle!
            %a(href="http://textbooksplease.com/?ref=dbim")
              %img.span4(src="http://textbooksplease.com/images/book_money_pile.jpg")
        %p.span4
          Found a bug? This software is open source! Please let me know on
          %a(href="https://github.com/christiangenco/dbinbox") this project's github page
          or <a href="http://twitter.com/cgenco">@cgenco</a>
          and I'll try to fix it! :)
        .span4
          <a class="coinbase-button" data-code="075230a3ad826102947729a5c934467e" data-button-style="custom_small" href="https://coinbase.com/checkouts/075230a3ad826102947729a5c934467e">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

    %script{src: url("/js/jquery.min.js")}
    %script{src: url("/js/vendor/jquery.ui.widget.js")}
    %script{src: url("/js/jquery.iframe-transport.js")}
    %script{src: url("/js/jquery.fileupload.js")}
    %script{src: url("/js/jquery.fileupload-fp.js")}
    %script{src: url("/js/jquery.fileupload-ui.js")}
    / The Templates plugin is included to render the upload/download listings
    %script{src: "http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"}
    / %script(src="js/bootstrap-tooltip.js")
    %script{src: url("/js/app.js")}
    / google analysics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34331519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
