%h1
  %img(class="modal-h-img sprite s_upload_32 modal-h-img" src="img/icon_spacer.gif")
  Send files to 
  =@info['email']
%br
%br
%form{action: 'upload', multipart: true, id: 'upload'}
  .row.fileupload-buttonbar.span7
    %span.btn.btn-success.fileinput-button
      %i.icon-plus.icon-white
      %span Add files
      %input(type="file" name="files[]" multiple)
    or drag and drop files onto this page
    .span5.fileupload-progress.fade
      .progress.progress-success.progress-striped.active
      .bar{:style => "width:0%;"}
      .progress-extended &nbsp;
    .fileupload-loading
    %table.filelist.span12
      %tbody
        %tr
          %td.filename-col.span7
            %img(class="sprite s_page_white_get" src="img/icon_spacer.gif")
            %span.filename IMG_2121.PNG
            %span.size - 203.87 KB
          %td.info-col.span4
            uploading to Dropbox...
          %td.status-col.span1
            %img(src="img/ajax-loading-small.gif" class="")
            / %img(class="sprite s_information" src="img/icon_spacer.gif")
    %table.filelist.span12
      %tbody
        %tr
          %td.filename-col.span7
            %img(class="sprite s_page_white_picture" src="img/icon_spacer.gif")
            %span.filename IMG_2121.PNG
            %span.size - 203.87 KB
          %td.info-col.span4
            error
          %td.status-col.span1
            %img(src="img/icon_spacer.gif" class="sprite s_synced ")

/ <li class="upload-file complete" id="cross-domain-2" data-dest="">     <div class="upload-progress-bar" style="width: 100%; "></div>      <div class="upload-file-info">       <div class="filename-col">         <img src="/static/images/icons/icon_spacer.gif" class="sprite s_page_white_acrobat ">         <span class="filename">           McGraw-Hill - The Pre...09).pdf         </span>         <span class="size">           - 1.93 MB         </span>       </div>        <div class="dest-col">         <a class="dest">           Dropbox         </a>       </div>        <div class="error-col" style="display: none;">         <span class="error-msg"></span>         <span class="error-details">           <img src="/static/images/icons/icon_spacer.gif" class="sprite s_information ">         </span>       </div>        <div class="status-col"><img src="/static/images/icons/icon_spacer.gif" class="sprite s_synced "></div>        <div class="time-col"></div>        <br class="clear">   </div></li>

=#
  %img(class="sprite s_folder_app" src="img/icon_spacer.gif")
  %img(class="sprite s_page_paste" src="img/icon_spacer.gif")
  %img(class="sprite s_events_20" src="img/icon_spacer.gif")
  %img(class="sprite s_transmit_gray" src="img/icon_spacer.gif")
  %img(class="sprite s_email_go" src="img/icon_spacer.gif")
  %img(class="sprite s_comment_add" src="img/icon_spacer.gif")
  %img(class="sprite s_computer_add" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_delete_32" src="img/icon_spacer.gif")
  %img(class="sprite s_basket_remove" src="img/icon_spacer.gif")
  %img(class="sprite s_pricing" src="img/icon_spacer.gif")
  %img(class="sprite s_time_go" src="img/icon_spacer.gif")
  %img(class="sprite s_big-dropdown-gray" src="img/icon_spacer.gif")
  %img(class="sprite s_synced" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_page" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_right_white" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_c" src="img/icon_spacer.gif")
  %img(class="sprite s_link_32" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_gray" src="img/icon_spacer.gif")
  %img(class="sprite s_facebook" src="img/icon_spacer.gif")
  %img(class="sprite s_mobile_16" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_word_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_switch" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_cup_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_email_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_help2" src="img/icon_spacer.gif")
  %img(class="sprite s_application_double" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_up_32" src="img/icon_spacer.gif")
  %img(class="sprite s_package_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_picture_save_gray" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_vector_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_basics_36" src="img/icon_spacer.gif")
  %img(class="sprite s_group2" src="img/icon_spacer.gif")
  %img(class="sprite s_download" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_csharp" src="img/icon_spacer.gif")
  %img(class="sprite s_clock" src="img/icon_spacer.gif")
  %img(class="sprite s_drive_magnify" src="img/icon_spacer.gif")
  %img(class="sprite s_hide_del" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_paint_32" src="img/icon_spacer.gif")
  %img(class="sprite s_time_back" src="img/icon_spacer.gif")
  %img(class="sprite s_ipad_small_32" src="img/icon_spacer.gif")
  %img(class="sprite s_medal_gold_3" src="img/icon_spacer.gif")
  %img(class="sprite s_new" src="img/icon_spacer.gif")
  %img(class="sprite s_blackberry_32" src="img/icon_spacer.gif")
  %img(class="sprite s_dropbox_20" src="img/icon_spacer.gif")
  %img(class="sprite s_green_close" src="img/icon_spacer.gif")
  %img(class="sprite s_camerauploads_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_edit_32" src="img/icon_spacer.gif")
  %img(class="sprite s_copy_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_get_32" src="img/icon_spacer.gif")
  %img(class="sprite s_java_small" src="img/icon_spacer.gif")
  %img(class="sprite s_upload_16" src="img/icon_spacer.gif")
  %img(class="sprite s_star_grey" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_vector" src="img/icon_spacer.gif")
  %img(class="sprite s_python_small" src="img/icon_spacer.gif")
  %img(class="sprite s_redx" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_jef" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_gear" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_acrobat_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_text_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_stack" src="img/icon_spacer.gif")
  %img(class="sprite s_coins" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_down_grey_small" src="img/icon_spacer.gif")
  %img(class="sprite s_camera" src="img/icon_spacer.gif")
  %img(class="sprite s_music" src="img/icon_spacer.gif")
  %img(class="sprite s_iphone" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_php_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_pencil" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_cplusplus_32" src="img/icon_spacer.gif")
  %img(class="sprite s_share_16" src="img/icon_spacer.gif")
  %img(class="sprite s_picture_save" src="img/icon_spacer.gif")
  %img(class="sprite s_link_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_phone" src="img/icon_spacer.gif")
  %img(class="sprite s_application_edit" src="img/icon_spacer.gif")
  %img(class="sprite s_link_break" src="img/icon_spacer.gif")
  %img(class="sprite s_star_blue_on" src="img/icon_spacer.gif")
  %img(class="sprite s_keynote_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_package_go" src="img/icon_spacer.gif")
  %img(class="sprite s_purge" src="img/icon_spacer.gif")
  %img(class="sprite s_sort-uptick-off" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user_share_20" src="img/icon_spacer.gif")
  %img(class="sprite s_install" src="img/icon_spacer.gif")
  %img(class="sprite s_film2" src="img/icon_spacer.gif")
  %img(class="sprite s_forgot32" src="img/icon_spacer.gif")
  %img(class="sprite s_emoticon_smile" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_wrench" src="img/icon_spacer.gif")
  %img(class="sprite s_heart" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_links" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_go_32" src="img/icon_spacer.gif")
  %img(class="sprite s_lock" src="img/icon_spacer.gif")
  %img(class="sprite s_bullet_toggle_plus" src="img/icon_spacer.gif")
  %img(class="sprite s_calendar_view_month" src="img/icon_spacer.gif")
  %img(class="sprite s_table_multiple" src="img/icon_spacer.gif")
  %img(class="sprite s_palebluedot" src="img/icon_spacer.gif")
  %img(class="sprite s_white_x" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_paint" src="img/icon_spacer.gif")
  %img(class="sprite s_white_pause" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user_delete_32" src="img/icon_spacer.gif")
  %img(class="sprite s_information" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_tux_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_edit" src="img/icon_spacer.gif")
  %img(class="sprite s_events_bubble_tail" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_put" src="img/icon_spacer.gif")
  %img(class="sprite s_briefcase" src="img/icon_spacer.gif")
  %img(class="sprite s_link2" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_arrow_32" src="img/icon_spacer.gif")
  %img(class="sprite s_aol" src="img/icon_spacer.gif")
  %img(class="sprite s_mac" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_compressed" src="img/icon_spacer.gif")
  %img(class="sprite s_permdelete" src="img/icon_spacer.gif")
  %img(class="sprite s_sort-uptick-on" src="img/icon_spacer.gif")
  %img(class="sprite s_cake_32" src="img/icon_spacer.gif")
  %img(class="sprite s_cake_36" src="img/icon_spacer.gif")
  %img(class="sprite s_android_small_32" src="img/icon_spacer.gif")
  %img(class="sprite s_world_link" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_gear_32" src="img/icon_spacer.gif")
  %img(class="sprite s_link20" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_visualstudio" src="img/icon_spacer.gif")
  %img(class="sprite s_wrench" src="img/icon_spacer.gif")
  %img(class="sprite s_previousversions" src="img/icon_spacer.gif")
  %img(class="sprite s_sort-downtick-off" src="img/icon_spacer.gif")
  %img(class="sprite s_application_add" src="img/icon_spacer.gif")
  %img(class="sprite s_checkbox" src="img/icon_spacer.gif")
  %img(class="sprite s_help" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_copy_32" src="img/icon_spacer.gif")
  %img(class="sprite s_move" src="img/icon_spacer.gif")
  %img(class="sprite s_cross" src="img/icon_spacer.gif")
  %img(class="sprite s_report" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_bullet_toggle_minus" src="img/icon_spacer.gif")
  %img(class="sprite s_link_go" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_group" src="img/icon_spacer.gif")
  %img(class="sprite s_checkbox_checked" src="img/icon_spacer.gif")
  %img(class="sprite s_bullet_minus" src="img/icon_spacer.gif")
  %img(class="sprite s_thick_x" src="img/icon_spacer.gif")
  %img(class="sprite s_application_go" src="img/icon_spacer.gif")
  %img(class="sprite s_package_edit" src="img/icon_spacer.gif")
  %img(class="sprite s_events_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_dvd_32" src="img/icon_spacer.gif")
  %img(class="sprite s_mac_black" src="img/icon_spacer.gif")
  %img(class="sprite s_creditcards" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_word_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_h_32" src="img/icon_spacer.gif")
  %img(class="sprite s_folder32" src="img/icon_spacer.gif")
  %img(class="sprite s_user_suit_minus" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_excel_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_book_open" src="img/icon_spacer.gif")
  %img(class="sprite s_white-trash" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_turn_up" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user_36" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user_32" src="img/icon_spacer.gif")
  %img(class="sprite s_white_play" src="img/icon_spacer.gif")
  %img(class="sprite s_keynote_32" src="img/icon_spacer.gif")
  %img(class="sprite s_star_blue_on_big" src="img/icon_spacer.gif")
  %img(class="sprite s_squares" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_code_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_application_down" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_actionscript" src="img/icon_spacer.gif")
  %img(class="sprite s_weather_clouds" src="img/icon_spacer.gif")
  %img(class="sprite s_sync_36" src="img/icon_spacer.gif")
  %img(class="sprite s_user_add" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_dvd_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_x" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_tux_32" src="img/icon_spacer.gif")
  %img(class="sprite s_rainbow_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_code_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_excel_32" src="img/icon_spacer.gif")
  %img(class="sprite s_emoticon_unhappy" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_cplusplus_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_feed" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_refresh_32" src="img/icon_spacer.gif")
  %img(class="sprite s_gray_logo" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_dvd" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_c_32" src="img/icon_spacer.gif")
  %img(class="sprite s_delete_gray" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_toggle_grid" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_sound" src="img/icon_spacer.gif")
  %img(class="sprite s_coins_add" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_picture_32" src="img/icon_spacer.gif")
  %img(class="sprite s_doc_text_image" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_sound_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_globe16" src="img/icon_spacer.gif")
  %img(class="sprite s_feed_32" src="img/icon_spacer.gif")
  %img(class="sprite s_palegraydot" src="img/icon_spacer.gif")
  %img(class="sprite s_accept" src="img/icon_spacer.gif")
  %img(class="sprite s_delete_16" src="img/icon_spacer.gif")
  %img(class="sprite s_big-dropdown" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_powerpoint_32" src="img/icon_spacer.gif")
  %img(class="sprite s_rainbow_16" src="img/icon_spacer.gif")
  %img(class="sprite s_sync" src="img/icon_spacer.gif")
  %img(class="sprite s_digg" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_text_width" src="img/icon_spacer.gif")
  %img(class="sprite s_house_go" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_excel" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_flash" src="img/icon_spacer.gif")
  %img(class="sprite s_application_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_flame" src="img/icon_spacer.gif")
  %img(class="sprite s_minus" src="img/icon_spacer.gif")
  %img(class="sprite s_show-deleted" src="img/icon_spacer.gif")
  %img(class="sprite s_add_gray" src="img/icon_spacer.gif")
  %img(class="sprite s_share_20" src="img/icon_spacer.gif")
  %img(class="sprite s_computer_go" src="img/icon_spacer.gif")
  %img(class="sprite s_user_comment" src="img/icon_spacer.gif")
  %img(class="sprite s_syncing" src="img/icon_spacer.gif")
  %img(class="sprite s_user_edit" src="img/icon_spacer.gif")
  %img(class="sprite s_star_blue_half_big" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_actionscript_32" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_public" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_cup" src="img/icon_spacer.gif")
  %img(class="sprite s_cashmunny" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_compressed_32" src="img/icon_spacer.gif")
  %img(class="sprite s_application_pencil" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user_add_32" src="img/icon_spacer.gif")
  %img(class="sprite s_transmit" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_picture" src="img/icon_spacer.gif")
  %img(class="sprite s_world_grey" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_film_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_left_white" src="img/icon_spacer.gif")
  %img(class="sprite s_play" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_get" src="img/icon_spacer.gif")
  %img(class="sprite s_link_16" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_photos_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_c_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_letter" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user_gray" src="img/icon_spacer.gif")
  %img(class="sprite s_mobile" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white" src="img/icon_spacer.gif")
  %img(class="sprite s_alarm" src="img/icon_spacer.gif")
  %img(class="sprite s_drive" src="img/icon_spacer.gif")
  %img(class="sprite s_upload_32" src="img/icon_spacer.gif")
  %img(class="sprite s_bomb" src="img/icon_spacer.gif")
  %img(class="sprite s_weather_clouds_white" src="img/icon_spacer.gif")
  %img(class="sprite s_android_small" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_flash_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_paint_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_shield" src="img/icon_spacer.gif")
  %img(class="sprite s_copy" src="img/icon_spacer.gif")
  %img(class="sprite s_layout" src="img/icon_spacer.gif")
  %img(class="sprite s_copyright" src="img/icon_spacer.gif")
  %img(class="sprite s_application_edit_32" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_star" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_visualstudio_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_photo" src="img/icon_spacer.gif")
  %img(class="sprite s_folder" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_magnify" src="img/icon_spacer.gif")
  %img(class="sprite s_drive_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_email_add_32" src="img/icon_spacer.gif")
  %img(class="sprite s_star_blue_half" src="img/icon_spacer.gif")
  %img(class="sprite s_application_link" src="img/icon_spacer.gif")
  %img(class="sprite s_icon_checkmark" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_go" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_py_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_js_32" src="img/icon_spacer.gif")
  %img(class="sprite s_dvd_32" src="img/icon_spacer.gif")
  %img(class="sprite s_arrowleft" src="img/icon_spacer.gif")
  %img(class="sprite s_settings" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_app_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_go" src="img/icon_spacer.gif")
  %img(class="sprite s_teams" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_app_32" src="img/icon_spacer.gif")
  %img(class="sprite s_step-3" src="img/icon_spacer.gif")
  %img(class="sprite s_step-2" src="img/icon_spacer.gif")
  %img(class="sprite s_step-1" src="img/icon_spacer.gif")
  %img(class="sprite s_bullet_plus" src="img/icon_spacer.gif")
  %img(class="sprite s_download_arrow_white" src="img/icon_spacer.gif")
  %img(class="sprite s_computer" src="img/icon_spacer.gif")
  %img(class="sprite s_dropdown_arrow_small2" src="img/icon_spacer.gif")
  %img(class="sprite s_close" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_text_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_gmail" src="img/icon_spacer.gif")
  %img(class="sprite s_fullscreen" src="img/icon_spacer.gif")
  %img(class="sprite s_paste_plain" src="img/icon_spacer.gif")
  %img(class="sprite s_pictures" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_turn_left" src="img/icon_spacer.gif")
  %img(class="sprite s_star_16" src="img/icon_spacer.gif")
  %img(class="sprite s_user_suit" src="img/icon_spacer.gif")
  %img(class="sprite s_half_star" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_email" src="img/icon_spacer.gif")
  %img(class="sprite s_jobs" src="img/icon_spacer.gif")
  %img(class="sprite s_dropdown_arrow_small" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_powerpoint" src="img/icon_spacer.gif")
  %img(class="sprite s_table_edit" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_photos" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_tux" src="img/icon_spacer.gif")
  %img(class="sprite s_key" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_refresh_small" src="img/icon_spacer.gif")
  %img(class="sprite s_star_blue_off_big" src="img/icon_spacer.gif")
  %img(class="sprite s_plugin" src="img/icon_spacer.gif")
  %img(class="sprite s_text_align_justify" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_copy" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user_20" src="img/icon_spacer.gif")
  %img(class="sprite s_delete_white" src="img/icon_spacer.gif")
  %img(class="sprite s_tour" src="img/icon_spacer.gif")
  %img(class="sprite s_cog" src="img/icon_spacer.gif")
  %img(class="sprite s_email_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_cup_32" src="img/icon_spacer.gif")
  %img(class="sprite s_comment" src="img/icon_spacer.gif")
  %img(class="sprite s_bricks" src="img/icon_spacer.gif")
  %img(class="sprite s_photo2" src="img/icon_spacer.gif")
  %img(class="sprite s_cancelsync" src="img/icon_spacer.gif")
  %img(class="sprite s_package_32" src="img/icon_spacer.gif")
  %img(class="sprite s_linux" src="img/icon_spacer.gif")
  %img(class="sprite s_cancel" src="img/icon_spacer.gif")
  %img(class="sprite s_giftbox_36" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_text" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_add" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_vector_32" src="img/icon_spacer.gif")
  %img(class="sprite s_twitter_32" src="img/icon_spacer.gif")
  %img(class="sprite s_settings_36" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_ruby_32" src="img/icon_spacer.gif")
  %img(class="sprite s_package_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_filter_down" src="img/icon_spacer.gif")
  %img(class="sprite s_toggle_list" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_compressed_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_share_arrow" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_public_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_events_bubble_right" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_visualstudio_32" src="img/icon_spacer.gif")
  %img(class="sprite s_x_8" src="img/icon_spacer.gif")
  %img(class="sprite s_sound" src="img/icon_spacer.gif")
  %img(class="sprite s_download_arrow" src="img/icon_spacer.gif")
  %img(class="sprite s_email_open" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_add" src="img/icon_spacer.gif")
  %img(class="sprite s_computer_edit" src="img/icon_spacer.gif")
  %img(class="sprite s_dropbox_arrow_down" src="img/icon_spacer.gif")
  %img(class="sprite s_error" src="img/icon_spacer.gif")
  %img(class="sprite s_newspaper" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_out" src="img/icon_spacer.gif")
  %img(class="sprite s_rename" src="img/icon_spacer.gif")
  %img(class="sprite s_telephone" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_php_32" src="img/icon_spacer.gif")
  %img(class="sprite s_music32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_ruby_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_sort-downtick-on" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_csharp_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_public_32" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_trevor_32" src="img/icon_spacer.gif")
  %img(class="sprite s_email_edit" src="img/icon_spacer.gif")
  %img(class="sprite s_home_blue" src="img/icon_spacer.gif")
  %img(class="sprite s_events" src="img/icon_spacer.gif")
  %img(class="sprite s_package_add" src="img/icon_spacer.gif")
  %img(class="sprite s_x_green" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_js_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_wand" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_32" src="img/icon_spacer.gif")
  %img(class="sprite s_magnifier_zoom_in" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_h_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_user" src="img/icon_spacer.gif")
  %img(class="sprite s_step-done" src="img/icon_spacer.gif")
  %img(class="sprite s_show_del" src="img/icon_spacer.gif")
  %img(class="sprite s_xclose" src="img/icon_spacer.gif")
  %img(class="sprite s_link_go_blue" src="img/icon_spacer.gif")
  %img(class="sprite s_magnifier2" src="img/icon_spacer.gif")
  %img(class="sprite s_music_beam" src="img/icon_spacer.gif")
  %img(class="sprite s_contact" src="img/icon_spacer.gif")
  %img(class="sprite s_magnifier" src="img/icon_spacer.gif")
  %img(class="sprite s_restore" src="img/icon_spacer.gif")
  %img(class="sprite s_money" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_cplusplus" src="img/icon_spacer.gif")
  %img(class="sprite s_world" src="img/icon_spacer.gif")
  %img(class="sprite s_arrowright" src="img/icon_spacer.gif")
  %img(class="sprite s_desktop" src="img/icon_spacer.gif")
  %img(class="sprite s_blog" src="img/icon_spacer.gif")
  %img(class="sprite s_add" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_picture_32" src="img/icon_spacer.gif")
  %img(class="sprite s_computer_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_pill" src="img/icon_spacer.gif")
  %img(class="sprite s_door_in" src="img/icon_spacer.gif")
  %img(class="sprite s_ipad_small" src="img/icon_spacer.gif")
  %img(class="sprite s_hide-deleted" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_out_black" src="img/icon_spacer.gif")
  %img(class="sprite s_tick" src="img/icon_spacer.gif")
  %img(class="sprite s_user_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_gift" src="img/icon_spacer.gif")
  %img(class="sprite s_server" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_actionscript_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_blackberry" src="img/icon_spacer.gif")
  %img(class="sprite s_numbers_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_move_16" src="img/icon_spacer.gif")
  %img(class="sprite s_picture" src="img/icon_spacer.gif")
  %img(class="sprite s_monkey_32" src="img/icon_spacer.gif")
  %img(class="sprite s_twitter" src="img/icon_spacer.gif")
  %img(class="sprite s_dropbox_32" src="img/icon_spacer.gif")
  %img(class="sprite s_application_delete_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_word" src="img/icon_spacer.gif")
  %img(class="sprite s_application_add_32" src="img/icon_spacer.gif")
  %img(class="sprite s_camerauploads_20" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_photos_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_edit" src="img/icon_spacer.gif")
  %img(class="sprite s_table" src="img/icon_spacer.gif")
  %img(class="sprite s_home" src="img/icon_spacer.gif")
  %img(class="sprite s_nosync" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_flash_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_php" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_32" src="img/icon_spacer.gif")
  %img(class="sprite s_comments" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_powerpoint_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_user_go" src="img/icon_spacer.gif")
  %img(class="sprite s_iphone_small" src="img/icon_spacer.gif")
  %img(class="sprite s_packrat" src="img/icon_spacer.gif")
  %img(class="sprite s_login_arrow" src="img/icon_spacer.gif")
  %img(class="sprite s_rainbow_20" src="img/icon_spacer.gif")
  %img(class="sprite s_numbers_32" src="img/icon_spacer.gif")
  %img(class="sprite s_package" src="img/icon_spacer.gif")
  %img(class="sprite s_alert_32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_csharp_32" src="img/icon_spacer.gif")
  %img(class="sprite s_plus" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_highlight" src="img/icon_spacer.gif")
  %img(class="sprite s_trashbw" src="img/icon_spacer.gif")
  %img(class="sprite s_star_blue_off" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_code" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_py_32" src="img/icon_spacer.gif")
  %img(class="sprite s_yahoo" src="img/icon_spacer.gif")
  %img(class="sprite s_gavel" src="img/icon_spacer.gif")
  %img(class="sprite s_signout" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_ruby" src="img/icon_spacer.gif")
  %img(class="sprite s_time_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_arrow_refresh" src="img/icon_spacer.gif")
  %img(class="sprite s_rounded_tl" src="img/icon_spacer.gif")
  %img(class="sprite s_paypal" src="img/icon_spacer.gif")
  %img(class="sprite s_link" src="img/icon_spacer.gif")
  %img(class="sprite s_rounded_tr" src="img/icon_spacer.gif")
  %img(class="sprite s_bug" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_film_32" src="img/icon_spacer.gif")
  %img(class="sprite s_drive_add" src="img/icon_spacer.gif")
  %img(class="sprite s_sharing_32" src="img/icon_spacer.gif")
  %img(class="sprite s_downtick-spacer" src="img/icon_spacer.gif")
  %img(class="sprite s_windows" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_picture" src="img/icon_spacer.gif")
  %img(class="sprite s_cake" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_picture_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_events_bubble_left" src="img/icon_spacer.gif")
  %img(class="sprite s_delete" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user" src="img/icon_spacer.gif")
  %img(class="sprite s_tshirt" src="img/icon_spacer.gif")
  %img(class="sprite s_email_add" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_acrobat_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_check" src="img/icon_spacer.gif")
  %img(class="sprite s_film" src="img/icon_spacer.gif")
  %img(class="sprite s_link_white" src="img/icon_spacer.gif")
  %img(class="sprite s_iphone_small_32" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_user_add" src="img/icon_spacer.gif")
  %img(class="sprite s_globe32" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_sound_32" src="img/icon_spacer.gif")
  %img(class="sprite s_book" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_acrobat" src="img/icon_spacer.gif")
  %img(class="sprite s_delete_32" src="img/icon_spacer.gif")
  %img(class="sprite s_graynotch" src="img/icon_spacer.gif")
  %img(class="sprite s_developers" src="img/icon_spacer.gif")
  %img(class="sprite s_link18" src="img/icon_spacer.gif")
  %img(class="sprite s_exclamation" src="img/icon_spacer.gif")
  %img(class="sprite s_time" src="img/icon_spacer.gif")
  %img(class="sprite s_cancel_32" src="img/icon_spacer.gif")
  %img(class="sprite s_breadcrumb" src="img/icon_spacer.gif")
  %img(class="sprite s_forums64" src="img/icon_spacer.gif")
  %img(class="sprite s_dropbox" src="img/icon_spacer.gif")
  %img(class="sprite s_folder_plugin" src="img/icon_spacer.gif")
  %img(class="sprite s_user_gray" src="img/icon_spacer.gif")
  %img(class="sprite s_comments_32" src="img/icon_spacer.gif")
  %img(class="sprite s_photos" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_film" src="img/icon_spacer.gif")
  %img(class="sprite s_settings_16" src="img/icon_spacer.gif")
  %img(class="sprite s_chart_bar" src="img/icon_spacer.gif")
  %img(class="sprite s_packrat_leave" src="img/icon_spacer.gif")
  %img(class="sprite s_page_white_gear_gray_32" src="img/icon_spacer.gif")
  %img(class="sprite s_group_add" src="img/icon_spacer.gif")
  %img(class="sprite s_ruby_small" src="img/icon_spacer.gif")
  %img(class="sprite s_x-green" src="img/icon_spacer.gif")
