%h1.span12
  %img(class="modal-h-img sprite s_upload_32 modal-h-img" src="img/icon_spacer.gif")
  Send files to #{@user.display_name}

-if false
  %form.span8#re-authenticate{action: "/", method: "post"}
    %fieldset.control-group
      %input.span4#username(type="hidden" name="username" value="#{params['username']}")
      %button.btn.btn-warning(type='submit' title="Re-authenticate to activate your account") 
        %i.icon-warning-sign.icon-white
        %span Re-authenticate
      %span.help-inline It looks like this app was unauthenticated from Dropbox.

%p.span8.instructions You can select more than one file at a time. You can also drag and drop files anywhere on this page to start uploading.


%form.span12{action: params["username"], multipart: true, id: 'upload'}
  %table.filelist
    %tbody.files 
    -#
      %tr
        %td.filename-col.span7
          %img(class="sprite s_page_white_get" src="img/icon_spacer.gif")
          %span.filename IMG_2121.PNG
          %span.size - 203.87 KB
        %td.info-col.span4
          uploading to Dropbox...
        %td.status-col.span1
          %img(src="img/ajax-loading-small.gif" class="")
      %tr
        %td.filename-col.span7
          %img(class="sprite s_page_white_picture" src="img/icon_spacer.gif")
          %span.filename IMG_2121.PNG
          %span.size - 203.87 KB
        %td.info-col.span4
          error
        %td.status-col.span1
          %img(src="img/icon_spacer.gif" class="sprite s_synced ")
  %span.btn.btn-primary.fileinput-button#upload_button{style: "float: right"}
    %i.icon-plus.icon-white
    %span Choose files
    %input(type="file" name="files[]" multiple)
  .span10.fileupload-progress.fade
    .progress.progress-success.progress-striped.active
    .bar{:style => "width:0%;"}
    .progress-extended &nbsp;
  .fileupload-loading

#dropzone.fade.well 
  %span Drop your file to upload

.clearfix

%form.form-horizontal.span12{action: params["username"] + "/send_text", id: 'send_text', method: 'post'}
  %legend 
    %img(class="modal-h-img sprite s_page_white_gray_32 modal-h-img" src="img/icon_spacer.gif")
    Send text file
  .control-group
    %label.control-label(for="filename") Filename
    .controls
      .input-append.input-prepend
        .add-on#timestamp=Time.new.strftime("%Y-%m-%d-%H.%M.%S")
        %input(type="text" name="filename" id="filename" placeholder="optional ")
        .add-on .txt
  .control-group
    %label.control-label(for="message") Text
    .controls
      %textarea(name="message")
  %input.btn.btn-primary(type="submit" value="Send .txt" style="float: right")

.clearfix

%hr

%p.span8
  Found a bug? This software is open source! Please let me know on 
  %a(href="https://github.com/christiangenco/dbinbox") this project's github page
  and I'll try to fix it! :)