%h1.span12
  %img(class="modal-h-img sprite s_upload_32 modal-h-img" src="img/icon_spacer.gif")
  Send files to #{@username}

%p.span8.instructions You can select more than one file at a time. You can also drag and drop files anywhere on this page to start uploading.


%form{action: 'upload', multipart: true, id: 'upload'}
  %table.filelist.span12
    %tbody.files 
    -#
      %tr
        %td.filename-col.span7
          %img(class="sprite s_page_white_get" src="img/icon_spacer.gif")
          %span.filename IMG_2121.PNG
          %span.size - 203.87 KB
        %td.info-col.span4
          uploading to Dropbox...
        %td.status-col.span1
          %img(src="img/ajax-loading-small.gif" class="")
      %tr
        %td.filename-col.span7
          %img(class="sprite s_page_white_picture" src="img/icon_spacer.gif")
          %span.filename IMG_2121.PNG
          %span.size - 203.87 KB
        %td.info-col.span4
          error
        %td.status-col.span1
          %img(src="img/icon_spacer.gif" class="sprite s_synced ")
  %span.btn.btn-primary.fileinput-button{style: "float: right"}
    %i.icon-plus.icon-white
    %span Choose files
    %input(type="file" name="files[]" multiple)
  .span10.fileupload-progress.fade
    .progress.progress-success.progress-striped.active
    .bar{:style => "width:0%;"}
    .progress-extended &nbsp;
  .fileupload-loading

#dropzone.fade.well 
  %span Drop your file to upload